{% extends "base.html" %}

{% block title %} Profile {% endblock %}


{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block header %}Item details{% endblock %}
{% block subheader %}{{item.desc}}{% endblock %}

{% block content %}

  {% if item.image %}
    <h4>Image</h4>
    <img src="{% url 'image' item.id %}">
  {% endif %}
  <br><br>

  <h4>Owner</h4>
    {{item.user.first_name}} (user profile: <a href="/user/{{item.user.username}}">{{item.user.username}}</a>)
  <br><br>

  <h4>Description</h4>
  {{item.status}}
  <br><br>

  <h4>Status</h4>
  {% if user.id == item.user.id %}
    Don't worry, all the information is available only for you, {{user.first_name}}<br>
    This item is currently in the following trades: <br>
    {% for trade in trades %}
      <a href="/trade/view/{{trade.id}}">Trade {{trade.id}}</a> <br>
    {% empty %}
      None
    {% endfor %}

    {% if item.status < 0 %}
      This item was part of <a href="/trade/view/{{trade_id}}">Trade {{in_trades|first}}</a>
    {% endif %}
  {% else %}
    {% if item.status == 0 %}
      This item is currently in {{trades|length}} trade(s), not yet accepted by {{item.user.username}}
    {% elif item.status > 0 %}
      This item is currently in {{trades|length}} trade(s) in progress, one of which is accepted by {{item.user.username}}
    {% else %}
      This item is no longer available for trading
    {% endif %}
  {% endif %}
  <br><br>

  <h4>User questions</h4>
  {% for question in questions %}
  <div class="panel panel-default">
    <div class="panel-heading">{{question.user.username}}: <strong>{{question.q}}</strong></div>
    <div class="panel-body">
      {% if question.a %}
        {{question.item.user.username}}: <strong>{{question.a}}</strong>
      {% else %}
        <em>The owner has not responded to this question</em>
      {% endif %}
    </div>
  </div>
  {% endfor %}

  <form class="form-inline" role="form" method="post" action="/item/{{item.id}}/question">
    <div class="form-group">
      <input type="text" class="form-control" name="q" placeholder="Ask a question" size="100" />
      <button type="submit" class="btn btn-default">Ask</button>
      {% csrf_token %}
    </div>
  </form>

</div>
{% endblock %}