{% load timesince_human %}

<li>
  <div class="img" style="background-image: url({% url 'image' item.id %})">
  </div>
  <div class="item-desc">
    <a href="/item/{{item.id}}">
      {{item.desc|truncatechars:20}}<br>
    </a>
    <small>{{item.date_time|timesince_human}} - #{{item.id}}<br>
      {% if manage %}
        <a onclick="launchDeleteModal('{{item.desc}}',{{item.id}})" href="javascript:;">unlist</a>
      {% elif showuser %}
        by <a href="/user/{{item.user.username}}">{{item.user.username}}</a>
      {% endif %}
    </small>
  </div>
  {% if attr %}
    <input type="checkbox" {{attr}} name="{{checkname}}" value="{{item.id}}">
  {% endif %}
  {% if status == "pending" %}
    <div class="item-caution" data-toggle="tooltip" title="This item is in another pending trade"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
  {% elif status == "pendingyou" %}
    <div class="item-caution red" data-toggle="tooltip" title="You added this item in another pending trade"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
  {% endif %}
</li>