{% extends "base.html" %}

{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-default" data-toggle="modal" data-target="#addModal"><span class="glyphicon glyphicon-plus"></span> add item</button>
    </div>
    <h1>my catalog</h1>
  </div>
</div>

<ul class="item-list">
  {% for item in items %}
    {% include "trade/item_list_single.html" with manage=True %}
  {% endfor %}
</ul>


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add item</h4>
      </div>
      <form action="/item/add" method="post" enctype="multipart/form-data">
      <div class="modal-body">
        <div class="form-group">
          <label for="desc">Item name</label>
          <input type="text" class="form-control" name="desc" placeholder="" required></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
          <textarea class="form-control" type="text" name="longdesc" maxlength="160" placeholder="" required></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Image</label>
          <input type="file" name="image" text="Attach image">
          <p class="help-block">The file must be in png/jpg format and not exceed 10MB</p>
        </div>

        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">add</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}