{% extends "base.html" %}

{% block title %}Trade{% endblock %}


{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block content %}
  <h1>My trades</h1>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Current trades</h3>
    </div>
    <div class="panel-body">
      <ul>
        {% for trade in active_trades %}
          <li>
          {% if trade.user1.id == user.id %}
             <a href="/user/{{trade.user1.username}}">{{trade.user2.username}}</a>
          {% else  %}
            <a href="/user/{{user.username}}">{{user.username}}</a>.
          {% endif %}
          <a href="/trade/{{trade.id}}" color_name="pink">View Trade</a>
        {% empty %}
          Nobody :(
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Completed trades</h3>
    </div>
    <div class="panel-body">
      <ul>
        {% for trade in nonactive_trades %}
          <li> 
          {% if trade.user1.id == user.id %}
             <a href="/user/{{trade.user1.username}}">{{trade.user2.username}}</a>
          {% else  %}
            <a href="/user/{{user.username}}">{{user.username}}</a>.
          {% endif %}
          <a href="/trade/{{trade.id}}" color_name="pink">View Trade</a>
        {% empty %}
          Nobody :(
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Cancelled trades</h3>
    </div>
    <div class="panel-body">
      <ul>
        {% for trade in nonactive_trades %}
          <li> 
          {% if trade.user1.id == user.id %}
             <a href="/user/{{trade.user1.username}}">{{trade.user2.username}}</a>
          {% else  %}
            <a href="/user/{{user.username}}">{{user.username}}</a>.
          {% endif %}
          <a href="/trade/{{trade.id}}" color_name="pink">View Trade</a>
        {% empty %}
          Nobody :(
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}