{% extends "base.html" %}

{% block title %}Trade{% endblock %}


{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block header %}My Trades{% endblock %}
{% block subheader %}{% endblock %}

{% block content %}

Currently trading with....
<ul>
{% for trade in active_trades %}
  <li> 
  {% if trade.user1.id == cur_user.id %}
     <a href="/user/{{trade.user1.username}}">{{trade.user2.username}}</a>
  {% else  %}
    <a href="/user/{{cur_user.username}}">{{cur_user.username}}</a>.
  {% endif %}
  <a href="/trade/{{trade.id}}" color_name="pink">View Trade</a>
  {% empty %}
Nobody :(
{% endfor %}

</ul>

Done trading with...
<ul>
{% for trade in nonactive_trades %}
  <li>  
  {% if trade.user1.id != cur_id %}
     <a href="/user/{{item.user.username}}">{{trade.user1.username}}</a>
  {% else  %}
    <a href="/user/{{item.user.username}}">{{trade.user1.username}}</a>.
  <a href="/trade/{{trade.id}}">View Trade</a>
  {% endif %}
  {% empty %}
No one :(
{% endfor %}
</ul>

{% endblock %}



