{% extends "base.html" %}

{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block content %}
<h1>My trades</h1>

<h3>pending</h3>
<div class="row">

  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">waiting for you to accept</h3>
      </div>
      <ul class="list-group">
        {% for trade in notaccepted_trades %}
          {% include "trade/my_trades_list_single.html" %}
        {% empty %}
          <em class="list-group-item">None</em>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">waiting for them to accept</h3>
      </div>
      <ul class="list-group">
        {% for trade in accepted_trades %}
          {% include "trade/my_trades_list_single.html" %}
        {% empty %}
          <em class="list-group-item">None</em>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<h3>in progress</h3>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">you haven't received</h3>
      </div>
      <ul class="list-group">
        {% for trade in havenotreceived_trades %}
          {% include "trade/my_trades_list_single.html" %}
        {% empty %}
          <em class="list-group-item">None</em>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">they haven't received</h3>
      </div>
      <ul class="list-group">
        {% for trade in havereceived_trades %}
          {% include "trade/my_trades_list_single.html" %}
        {% empty %}
          <em class="list-group-item">None</em>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<h3>inactive</h3>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">completed</h3>
      </div>
      <ul class="list-group">
        {% for trade in completed_trades %}
          {% include "trade/my_trades_list_single.html" %}
        {% empty %}
          <em class="list-group-item">None</em>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">cancelled</h3>
      </div>
      <ul class="list-group">
        {% for trade in cancelled_trades %}
          {% include "trade/my_trades_list_single.html" %}
        {% empty %}
          <em class="list-group-item">None</em>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}