{% extends "base.html" %}

{% block title %}Trade{% endblock %}


{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block content %}

<form role="form" method="post" action="/trade/new" id="tradeform">

<h1>Send a new trade request</h1>

<div class="row">
  <div class="col-md-10">
    <p>Get started by adding items to both sides of the trade. When you're done, hit <strong>Send</strong>. Once you create the trade, you cannot modify it. However, you can always create new trades.</p>
  </div>
  <div class="col-md-2">
    <button type="submit" class="btn btn-primary btn-lg" value="trade">Send</button>
  </div>
</div>

<p>&nbsp;</p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><img src="/image/user/{{user1.username}}" width="40" height="40" /> <a href="/user/{{trade.user1.username}}">{{user1.username}}</a></h3>
      </div>
      <ul class="item-list panel-body">
        <!-- these items are selected -->
        {% for item in user1selectitems %}
          {% include "trade/item_list_single.html" with checkname="user1selectitems" attr="checked" %}
        {% endfor %}

        <!-- These items are available -->
        {% for item in user1restitems %}
          {% include "trade/item_list_single.html" with checkname="user1selectitems" attr=" " %}
        {% endfor %}
        <!-- These items arent available -->
        {% for item in user1deaditems %}
          {% include "trade/item_list_single.html" with checkname="user1selectitems" attr="disabled" %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><img src="/image/user/{{user2.username}}" width="40" height="40" /> <a href="/user/{{trade.user2.username}}">{{user2.username}}</a></h3>
      </div>
      <ul class="item-list">
        {% for item in user2selectitems %}
          {% include "trade/item_list_single.html" with checkname="user2selectitems" attr="checked" %}
        {% endfor %}

        <!-- These items are available -->
        {% for item in user2restitems %}
          {% include "trade/item_list_single.html" with checkname="user2selectitems" attr=" " %}
        {% endfor %}

        <!-- These items arent available -->
        {% for item in user1deaditems %}
          {% include "trade/item_list_single.html" with checkname="user2selectitems" attr="disabled" %}
        {% endfor %}

      </ul>
    </div>
  </div>
</div>

  <input type="hidden" value="{{user2.id}}" name="user2" />
  {% csrf_token %}
</form>

{% endblock %}