{% extends "base.html" %}

{% block title %} Profile {% endblock %}


{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>{{username}} <small>({{first_name}} {{last_name}})</small></h1>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>info</h3>
    <ul class="list-unstyled">
      <li><strong>Reputation</strong>: 30</li>
      <li><strong>Location</strong>: Pittsburgh, PA</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>actions</h3>
    {% if user.id == userid %}
      <a class="btn btn-primary" href="#">edit profile</a>
    {% else %}
      <a class="btn btn-primary" href="/trade?action=start&with={{username}}">start trade with <strong>{{username}}</strong></a>
    {% endif %}
    <a class="btn btn-default" href="#">see reviews</a>
  </div>
</div>

<h3>catalog</h3>
<ul class="item-list">
  {% for item in items %}
    <li class="panel panel-default">
      <div class="panel-body">
        {% if item.image %}
          <img src="{% url 'image' item.id %}">
        {% endif %}
        <div class="item-info">
          <div class="item-desc"><a href="/item/{{item.id}}">{{item.desc}}</a></div>
          Posted: {{item.date_time}}
        </div>
      </div>
    </li>
  {% empty %}
  No catalog
  {% endfor %}
</ul>

<h3>past items</h3>
<ul class="item-list">
  {% for item in deaditems %}
    <li class="panel panel-default">
      <div class="panel-body">
        {% if item.image %}
          <img src="{% url 'image' item.id %}">
        {% endif %}
        <div class="item-info">
          <div class="item-desc"><a href="/item/{{item.id}}">{{item.desc}}</a></div>
          Posted: {{item.date_time}}
        </div>
      </div>
    </li>
  {% empty %}
    No past items
  {% endfor %}
</ul>
{% endblock %}


