{% extends "base.html" %}
{% load timesince_human %}

{% block title %} Profile {% endblock %}


{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block content %}

<div class="page-header">
  <h1><img src="/image/user/{{profile_user.username}}" width="40" height="40" />
  {{profile_user.username}} <small>({{profile_user.first_name}} {{profile_user.last_name}})</small></h1>
</div>
<div class="row">
  <div class="col-md-7">
    <h3>info</h3>
    <ul class="list-unstyled">
      <li><strong>Reputation</strong>: {{profile_user.rep}}</li>
      <li><strong>Location</strong>: {{profile_user.loc}}</li>
      {% if user.id == profile_user.id %}
        <li><span class="glyphicon glyphicon-lock gray" title="Only visible to you"></span> <strong>Email</strong>: {{profile_user.email}}</li>
      {% endif %}
    </ul>
  </div>
  <div class="col-md-5">
    <h3>actions</h3>
    {% if user.id == profile_user.id %}
      <button class="btn btn-primary" data-toggle="modal" data-target="#editModal">edit profile</button>
    {% else %}
      <a class="btn btn-primary" href="/trade/new?with={{profile_user.username}}">start trade</strong></a>
    {% endif %}
    <button class="btn btn-default" data-toggle="modal" data-target="#reviewModal">see reviews</button>
  </div>
</div>

<h3>available items</h3>
<ul class="item-list">
  {% for item in items %}
    {% include "trade/item_list_single.html" %}
  {% empty %}
    There are no items in your catalog. Add some!
  {% endfor %}
</ul>

{% if deaditems %}
<h3>traded items</h3>
<ul class="item-list">
  {% for item in deaditems %}
    {% include "trade/item_list_single.html" %}
  {% endfor %}
</ul>
{% endif %}

<div class="modal fade" id="reviewModal" tabindex="-2" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Reviews for {{profile_user.username}}</h4>
      </div>
      <div class="modal-body">
        {% for review in reviews %}
          {% if review.rating == -1 %}
            <div class="panel panel-danger">
              <div class="panel-heading"><span class="glyphicon glyphicon-thumbs-down"></span> &bull; {{review.reviewer}} &bull; {{review.date_time|timesince_human}}</div>
              <div class="panel-body">
                {{review.body}}
              </div>
            </div>
          {% elif review.rating == 0 %}
            <div class="panel panel-warning">
              <div class="panel-heading"><span class="glyphicon glyphicon-minus"></span> &bull; {{review.reviewer}} &bull; {{review.date_time|timesince_human}}</div>
              <div class="panel-body">
                {{review.body}}
              </div>
            </div>
          {% else %}
            <div class="panel panel-success">
              <div class="panel-heading"><span class="glyphicon glyphicon-thumbs-up"></span> &bull; {{review.reviewer}} &bull; {{review.date_time|timesince_human}}</div>
              <div class="panel-body">
                {{review.body}}
              </div>
            </div>
          {% endif %}
        {% empty %}
          No reviews for this user yet
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% if user.id == profile_user.id %}
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Edit profile</h4>
        </div>
        <form action="/user/edit" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="first_name">First name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{profile_user.first_name}}"/>
          </div>
          <div class="form-group">
            <label for="last_name">Last name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{profile_user.last_name}}"/>
          </div>
          <div class="form-group">
            <label for="loc">Location</label>
            <input type="text" class="form-control" id="loc" name="loc" value="{{profile_user.loc}}"/>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Profile picture</label>
            <input type="file" name="image" text="Attach image">
            <p class="help-block">Choose a file to replace your current profile picture.<br>The file must be in png/jpg format and not exceed 10MB</p>
          </div>

          {% csrf_token %}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}