{% extends "base.html" %}

{% block errors %} 
  {% if errors %}
    <p class="alert alert-danger">
      {% for error in errors %}
        {{ error }}<br>
      {% endfor %}
    </p>
  {% endif %}
{% endblock %}

{% block content %}
<h1>Get started</h1>

<div class="alert alert-default">
  <p>Already have an account? <a href="/login">Login!</a></p>
</div>
<form role="form" method="post" action="/register">
  <div class="row">
    <div class="form-group col-md-6">
      <label>Username:</label>
      <input type="text" class="form-control" 
       name="username" value="{{username}}" placeholder="max 15 characters" required>
    </div>
    <div class="form-group col-md-6">
      <label>E-mail:</label>
      <input type="text" class="form-control"
       name="email" value="{{email}}"placeholder="example@website.com">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label>First Name:</label>
      <input type="text" class="form-control" 
       name="first_name" value="{{first_name}}" placeholder="Jane">
    </div>

    <div class="form-group col-md-6">
      <label>Last Name:</label>
      <input type="text" class="form-control"
       name="last_name" value="{{last_name}}" placeholder="Doe">
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-6">
        <label>Password:</label>
        <input type="password" class="form-control"name="password1">
    </div>

    <div class="form-group col-md-6">
        <label>Confirm password:</label>
        <input type="password" class="form-control" name="password2">
    </div>
  </div>

  <p class="help-block">After registration, an e-mail will be sent to you with a verification link. </p>

  <button type="submit" class="btn btn-info">Register</button>
  {% csrf_token %}
</form>

{% endblock %}

