{% extends "base.html" %}

{% block title %} Profile {% endblock %}


{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block content %}

<h3>Search results for <strong>{{q}}</strong></h3>

<ul class="item-list">
  {% for item in items %}
    <li class="panel panel-default">
      <div class="panel-body">
        {% if item.image %}
          <img src="{% url 'image' item.id %}">
        {% endif %}
        <div class="item-info">
          <div class="item-desc">{{item.desc}}</div>
          Posted: {{item.date_time}}<br>
          By: <a href="/user/{{item.user.username}}">{{item.user.username}}</a>
        </div>
      </div>
    </li>
  {% empty %}
    <p class="alert bg-warning">No results found</p>
  {% endfor %}
</ul>
{% endblock %}