{% extends "base.html" %}

{% block title %}Trade{% endblock %}

{% block errors %}
  {% for error in errors %}
    <p class="alert alert-danger">
    {{error}}
    </p>
  {% endfor %}
{% endblock %}

{% block content %}

{% if received < 0 %}
<!-- trade just made -->
You have successfully created your trade! Here it is:
{% endif %}

<div class="row">
  <div class="col-md-6">

    {% if trade.status == -2 %}
      <div class="alert alert-danger"><h1>Trade #{{trade.id}}</h1>STATUS: CANCELLED</div>
    {% elif trade.status == -1 %}
      <div class="alert alert-success"><h1>Trade #{{trade.id}}</h1>STATUS: COMPLETED</div>
    {% else %}
      <div class="alert alert-warning">
        <h1>Trade #{{trade.id}}</h1>
        STATUS: 
        {% if trade.status == 0 %}
          PENDING ACCEPTANCE FROM {{trade.user2.username}}
        {% elif trade.status == 1 %}
          PENDING SHIPMENT
        {% elif trade.status == 2 %}
          PENDING SHIPMENT FROM {{trade.user2.username}}
        {% elif trade.status == 3 %}
          PENDING SHIPMENT FROM {{trade.user1.username}}
        {% endif %}
        <br>
        {% if trade.status == 2 %}
          <!-- user1 received -->
          {% if cur1 %} 
            {{trade.user2.username}} has not received your items
          {% else %} 
            {{trade.user1.username}} has received your items
          {% endif %}
        {% elif trade.status == 3 %}
          <!-- user2 received -->
          {% if cur1 %} 
            {{trade.user2.username}} has received your items
          {% else %} 
            {{trade.user1.username}} has not received your items
          {% endif %}
        {% elif trade.status == 1 %}
          <!-- no one received -->
          {% if cur1 %} 
            {{trade.user2.username}} has not received your items
          {% else %} 
            {{trade.user1.username}} has not received your items
          {% endif %}
        {% endif %} 
      </div>
    {% endif %}

    <div class="btn-group btn-group-justified">
      {% if trade.status == 0 and not cur1 %}
        <a href="/trade/{{trade.id}}/accept" class="btn btn-default">Accept trade</a> 
        <a class="btn btn-default" href="/trade/new?with={{trade.user1.username}}&from={{trade.id}}">Reoffer</a> 
      {% endif %}

      {% if trade.status == 0 %}
        <a href="/trade/{{trade.id}}/cancel" class="btn btn-default">Cancel trade</a> 
      {% endif %}

      {% if trade.status > 0 %}
        {% if not received %}
          <a class="btn btn-default" data-toggle="modal" data-target="#ratingModal">Mark as received</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="col-md-6">
    <div id="chat">
      <small>Send a message</small>
      <ul id="messages">
      </ul>
      <form method="post" action="/trade/{{id}}/message" id="chatform">
        <input type="text" class="form-control" name="q" id="chattext" autocomplete="off" placeholder="Type a message then press enter" />
        {% csrf_token %}
      </form>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><img src="/image/user/{{trade.user1.username}}" width="40" height="40" /> <a href="/user/{{trade.user1.username}}">{{trade.user1.username}}</a></h3>
      </div>
      <ul class="item-list panel-body">
        <!-- these items are selected -->
        {% for item in user1selectitems %}
          {% include "trade/item_list_single.html" %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><img src="/image/user/{{trade.user2.username}}" width="40" height="40" /> <a href="/user/{{trade.user2.username}}">{{trade.user2.username}}</a></h3>
      </div>
      <ul class="item-list panel-body">
        {% for item in user2selectitems %}
          {% include "trade/item_list_single.html" %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Trade feedback</h4>
      </div>
      <form action="/trade/{{trade.id}}/received" method="post" enctype="multipart/form-data">
      <div class="modal-body">
        <p>Please leave feedback for the trade. This feedback will affect the other party's reputation.</p>
        <div class="form-group">
          <label for="rating">How would you rate your experience?</label>
          <div class="radio">
            <label>
              <input type="radio" name="rating" value="positive" required> Positive
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="rating" value="neutral" required> Neutral
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="rating" value="negative" required> Negative
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="comments">Additional comments</label>
          <input type="text" class="form-control" name="comments" />
        </div>

        {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">save &amp; close trade</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
csrftoken = getCookie('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
});

function refreshMsg() {
  $.get('/trade/{{trade.id}}/message', function(data) {
    $('#messages').html('');

    for (var i=0; i<data.length; i++) {
      $('#messages').append($('<li>').html('<span>' + data[i].username + ': </span>' + data[i].body))
    }
    $('#messages').scrollTop($('#messages')[0].scrollHeight);
  });
}

refreshMsg();
window.setInterval(refreshMsg, 5000);

$('#chatform').submit(function(e) {
  e.preventDefault();
  $.post('/trade/{{trade.id}}/message', {body: $('#chattext').val()}, function() {
    $('#chattext').val('');
    refreshMsg();
  });
  
});
</script>
{% endblock %}