#logo {
  height: 82px;
}
#logo h2 {
  background-color: #eee;
  margin: 0;
  padding: 32px 15px 16px;
}

#search {
  margin-top: 40px;
}
#search input {
  width: 85%;
}
#search .form-control {
  vertical-align: middle;
  display: inline;
}
#search button {
  width: 14%;
}





/* ==== Old styles ====== */
.page-header{
  text-align: center;
}


.blog {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.item-list:after {
  content: " ";
  display: table;
  clear: both;
}
  .item-list li {
    margin: 5px;
    padding: 0;
    width: 220px;
    height: 280px;
    float: left;
    position: relative;
  }
  .item-list img {
    margin: auto;
    display: block;
  }
  .item-info {
    position: absolute;
    top: 180px;
    width: 190px;
    word-wrap: break-word;
    font-size: 10px;
    color: #999;
  }
  .item-desc {
    font-size: 14px;
    color: black;
  }


#sidebar .btn-group-vertical {
  width: 80%;
  display: block;
}

#sidebar .btn {
  margin-left: 3em;
}

.blue{
  color: rgb(91, 192, 222);
  font-size: 20px;
}

img {
  max-height: 200px;
  max-width: 80%;
}

.plus-img {
  font-size: 50px;
  padding: 60px 70px;
  color: #bbb;
  text-align: center;
}